<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="flex flex-col space-y-0.5">
    <%= text_input f, :name, placeholder: "Name", class: "p-1 border rounded" %>
    <%= error_tag f, :name %>
  </div>

  <div class="text-center mt-5">
    <%= submit "Save", class: "btn bg-blue-400 px-5" %>
  </div>
<% end %>
