<section class="border-b px-8 pb-3">
  <h1 class="my-3 text-center text-2xl">
    <%= @set.name %>
  </h1>

  <ul class="mb-4">
    <li>Drills is set: 0</li>
  </ul>

  <div class="mb-1 text-center">
    <%= link "Delete Set", to: Routes.set_path(@conn, :delete, @set), method: :delete, class: "btn-red p-1 px-2" %>
  </div>
</section>

<div class="mt-7 text-center">
  <%= link "Add Drill", to: Routes.drill_path(@conn, :new, set_id: @set.id), class: "btn-green" %>
</div>
